@media (max-width: 768px) {
    .box-tabela-especialista img {
        display: none;
    }

    .tabela-especialistas {
        width: 100%;
    }

    .box-tabela-especialista {
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .box-tabela-especialista {
        padding: 0;
    }
}